@font-face {
  font-family: "VG5000-Regular";

  src: url(VG5000-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VG5000-Regular", Arial, sans-serif;
}

body {
  background: #c4c4c4;
  color: #222;
  line-height: 1.6;
  min-height: 100vh;
}

#main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

#header {
  width: min(90%, 500px);
  border: 4px solid #333;
  border-right: #333 15px solid;
  border-bottom: #333 15px solid;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
}

#header span {
  font-size: clamp(20px, 4vw, 32px);
  display: block;
  margin-bottom: 5px;
}

#header h6 {
  font-size: clamp(12px, 2vw, 16px);
  font-weight: normal;
}

.calculator {
  border: 4px solid #202124;
  border-right: #202124 25px solid;
  border-bottom: #202124 15px solid;
  width: 380px;
  height: 480px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  font-size: 22px;
  background-color: #4285f4;
}

.display {
  font-family: "VG5000-Regular", Arial, sans-serif;
  border: 4px solid #202124;
  border-right: #202124 10px solid;
  border-bottom: #202124 10px solid;
  height: 60px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
  text-align: right;
  font-size: 32px;
  caret-color: transparent;
  color: #222;
}

.result {
  font-size: 32px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  border: 4px solid #202124;
  border-right: #202124 8px solid;
  border-bottom: #202124 8px solid;
  padding: 18px;
  background-color: #fbbc04;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  background-color: rgb(253, 208, 71);
}

button:active {
  background-color: #ffdd76;
}

.bg-green {
  background-color: #4eac67;
  color: white;
}

.bg-green:hover {
  background-color: #5abf7c;
  color: white;
}

.bg-red {
  background-color: #ea4335;
  color: white;
}

.bg-red:hover {
  background-color: #f37469;
  color: white;
}

/* Media Queries only for layout and header */
@media (max-width: 480px) {
  #main {
    padding: 10px;
  }
  
  #header {
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
}

@media (max-height: 600px) {
  #main {
    padding: 10px;
  }
}
